.skeleton-card{
  width: 280px;

  background-color: white;

  border-radius: 15px;

  padding: 15px;

  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* ANIMATION */

@keyframes loading{

  0%{
    background-position: -200px 0;
  }

  100%{
    background-position: calc(200px + 100%) 0;
  }

}

.skeleton-image,
.skeleton-text,
.skeleton-btn{
  background: linear-gradient(
    90deg,
    #eeeeee 25%,
    #dddddd 37%,
    #eeeeee 63%
  );

  background-size: 400% 100%;

  animation: loading 1.4s ease infinite;
}

/* IMAGE */

.skeleton-image{
  width: 100%;
  height: 220px;

  border-radius: 12px;

  margin-bottom: 20px;
}

/* TEXT */

.skeleton-text{
  width: 80%;
  height: 20px;

  border-radius: 8px;

  margin-bottom: 15px;
}

.skeleton-text.small{
  width: 50%;
}

/* BUTTON */

.skeleton-btn{
  width: 100%;
  height: 45px;

  border-radius: 10px;

  margin-top: 20px;
}